{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}  
  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: home -->
    <section id="home" class="divider parallax layer-overlay overlay-dark-3" data-bg-img="http://placehold.it/1920x1280">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-4 col-md-offset-8">
                <h3 class="bg-theme-colored p-15 pl-30 mb-0 mt-40 text-white">Appoinment Here</h3>
                
                <form id="appointment_form" name="appointment_form" class="bg-deep p-30" method="post" action="includes/appointment.php" novalidate="novalidate">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group mb-10">
                        <label>Name <small>*</small></label>
                        <input name="form_name" class="form-control" required="" placeholder="Enter Name" aria-required="true" type="text">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group mb-10">
                        <label>Email <small>*</small></label>
                        <input name="form_email" class="form-control required email" placeholder="Enter Email" aria-required="true" type="email">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group mb-10">
                        <label>Date <small>*</small></label>
                        <input name="form_appontment_date" class="form-control required date-picker" placeholder="Date" aria-required="true" type="text">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group mb-10">
                        <label>Phone <small>*</small></label>
                        <input name="form_phone" class="form-control" placeholder="Enter Phone" aria-required="true" type="tel">
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-10">
                    <label>Message <small>*</small></label>
                    <textarea name="form_message" class="form-control required" placeholder="Enter Message" rows="5" aria-required="true"></textarea>
                  </div>
                  <div class="form-group mb-0 mt-20">
                    <input name="form_botcheck" class="form-control" value="" type="hidden">
                    <button type="submit" class="btn btn-block btn-theme-colored btn-sm mt-20 pt-10 pb-10 text-uppercase" data-loading-text="Please wait...">Submit</button>
                  </div>
                </form>
                <!-- Appointment Form Validation -->
                <script type="text/javascript">
                  $("#appointment_form").validate({
                    submitHandler: function(form) {
                      var form_btn = $(form).find('button[type="submit"]');
                      var form_result_div = '#form-result';
                      $(form_result_div).remove();
                      form_btn.before('&amp;lt;div id="form-result" class="alert alert-success" role="alert" style="display: none;"&amp;gt;&amp;lt;/div&amp;gt;');
                      var form_btn_old_msg = form_btn.html();
                      form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                      $(form).ajaxSubmit({
                        dataType:  'json',
                        success: function(data) {
                          if( data.status == 'true' ) {
                            $(form).find('.form-control').val('');
                          }
                          form_btn.prop('disabled', false).html(form_btn_old_msg);
                          $(form_result_div).html(data.message).fadeIn('slow');
                          setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                        }
                      });
                    }
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--Section:  About -->
    <section id="about">
      <div class="container pb-0">
        <div class="section-content">
          <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-4">
              <div class="border-5px p-30 mb-sm-30">
                <h5><i class="fa fa-clock-o text-theme-colored"></i> Opening Hours</h5>
                <div class="opening-hours text-left">
                  <ul class="list-unstyled">
                    <li class="clearfix line-height-1"> <span> Tuesday - Friday </span>
                      <div class="value"> 9.00 - 20.00 </div>
                    </li>
                    <li class="clearfix line-height-1"> <span> Saturday </span>
                      <div class="value"> 10.00 - 16.00 </div>
                    </li>
                    <li class="clearfix line-height-1"> <span> Sunday </span>
                      <div class="value"> 9.30 - 18.00 </div>
                    </li>
                    <li class="clearfix line-height-1"> <span> Monday </span>
                      <div class="value"> 9.00 - 18.00 </div>
                    </li>
                  </ul>
                </div>
                <h5 class="mt-30"><i class="fa fa-pencil-square-o text-theme-colored"></i> Need Help?</h5>
                <p class="mt-0 text-uppercase">Just make an appointment to get help from our experts</p>
                <a href="#" class="btn btn-dark btn-theme-colored mt-15" data-toggle="modal" data-target="#modal_appontment_form_at_about">Request an appointment</a>

                <!-- Modal - Appontment Form Starts -->
                <div class="modal fade" id="modal_appontment_form_at_about" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="border-1px p-25">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="text-theme-colored text-uppercase m-0">Make an Appointment</h4>
                        <div class="line-bottom mb-30"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur elit.</p>
                        <!-- Appointment Form -->
                        <form novalidate="novalidate" id="appointment_form_at_home" name="appointment_form_at_home" class="" method="post" action="includes/appointment.php">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group mb-10">
                                <input type="text" name="form_name" class="form-control" required="" placeholder="Enter Name" aria-required="true">
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group mb-10">
                                <input type="email" name="form_email" class="form-control required email" placeholder="Enter Email" aria-required="true">
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group mb-10">
                                <input type="text" name="form_appontment_date" class="form-control required datetime-picker" placeholder="Appoinment Date &amp; Time" aria-required="true">
                              </div>
                            </div>
                          </div>
                          <div class="form-group mb-10">
                            <textarea name="form_message" class="form-control required" placeholder="Enter Message" rows="5" aria-required="true"></textarea>
                          </div>
                          <div class="form-group mb-0 mt-20">
                            <input type="hidden" name="form_botcheck" class="form-control" value="">
                            <button type="submit" class="btn btn-dark btn-theme-colored" data-loading-text="Please wait...">Send Message</button>
                          </div>
                        </form>

                        <!-- Appointment Form Validation-->
                        <script type="text/javascript">
                          $("#appointment_form_at_home").validate({
                            submitHandler: function(form) {
                              var form_btn = $(form).find('button[type="submit"]');
                              var form_result_div = '#form-result';
                              $(form_result_div).remove();
                              form_btn.before('&amp;lt;div id="form-result" class="alert alert-success" role="alert" style="display: none;"&amp;gt;&amp;lt;/div&amp;gt;');
                              var form_btn_old_msg = form_btn.html();
                              form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                              $(form).ajaxSubmit({
                                dataType:  'json',
                                success: function(data) {
                                  if( data.status == 'true' ) {
                                    $(form).find('.form-control').val('');
                                  }
                                  form_btn.prop('disabled', false).html(form_btn_old_msg);
                                  $(form_result_div).html(data.message).fadeIn('slow');
                                  setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                                }
                              });
                            }
                          });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal - Appontment Form Ends -->
              </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-4">
              <h2 class="mt-0 text-black-333 line-height-1 line-bottom"><span class="font-weight-500">Welcome to </span> <span class="text-theme-colored font-weight-400">DentalPlus</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corporis molestiae nesciunt voluptatum, ut officiis incidunt, aut libero animi dolores error iusto tempora commodi praesentium illum</p>
              <div class="row sm-text-center">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="icon-box mt-20"> <a class="icon icon-flat icon-border-effect effect-flat icon-md" href="#"> <i class="flaticon-dental-tooth text-theme-colored font-48"></i> </a>
                    <h5 class="Personal trainer text-uppercase mt-0"><a href="#"><strong>Excellent Services</strong></a></h5>
                    <p>Eleifend lobortis bibendum dolor sit ametcons ectetur adipis ametcons elit dolores</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="icon-box mt-20"> <a class="icon icon-flat icon-border-effect effect-flat icon-md" href="#"> <i class="flaticon-dental-teeth-protection text-theme-colored font-48"></i> </a>
                    <h5 class="Personal trainer text-uppercase mt-0"><a href="#"><strong>Guaranteed Work</strong></a></h5>
                    <p>Eleifend lobortis bibendum dolor sit ametcons ectetur adipis ametcons elit dolores</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <img class="img-fullwidth" src="http://placehold.it/420x536" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Services -->
    <section class="bg-light">
      <div class="container pb-30">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-uppercase title">Our <span class="text-black-111"> Services</span></h2>
              <p class="text-uppercase letter-space-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Acque quidem eaque, amet doloribus, error inventore, quisquam totam magni cumque.</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row multi-row-clearfix">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="icon-box text-center">
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl" href="#"> <i class="flaticon-dental-tooth text-white"></i> </a>
                <h4 class="text-uppercase">Oral Exam</h4>
                <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="icon-box text-center"> 
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl" href="#"> <i class="flaticon-dental-teeth-protection text-white"></i> </a>
                <h4 class="icon-box-title mt-15 mb-10 text-uppercase">Protection Teeth</h4>
                <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="icon-box text-center"> 
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl" href="#"> <i class="flaticon-dental-tooth text-white"></i> </a>
                <h4 class="icon-box-title mt-15 mb-10 text-uppercase">Available Lab</h4>
                <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="icon-box text-center"> 
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl" href="#"> <i class="flaticon-dental-teeth-protection text-white"></i> </a>
                <h4 class="icon-box-title mt-15 mb-10 text-uppercase">24/7 Dentist</h4>
                <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="icon-box text-center"> 
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl" href="#"> <i class="flaticon-dental-root text-white"></i> </a>
                <h4 class="icon-box-title mt-15 mb-10 text-uppercase">Dentures</h4>
                <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="icon-box text-center"> 
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl" href="#"> <i class="flaticon-dental-amalgam text-white"></i> </a>
                <h4 class="icon-box-title mt-15 mb-10 text-uppercase">Pharmecy</h4>
                <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="icon-box text-center"> 
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl" href="#"> <i class="flaticon-dental-dental-floss text-white"></i> </a>
                <h4 class="icon-box-title mt-15 mb-10 text-uppercase">Orthodontics</h4>
                <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="icon-box text-center"> 
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl" href="#"> <i class="flaticon-dental-molar-tooth text-white"></i> </a>
                <h4 class="icon-box-title mt-15 mb-10 text-uppercase">Pediatrics</h4>
                <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Department -->
    <section id="department" class="divider parallax layer-overlay overlay-dark-9" data-bg-img="http://placehold.it/1920x1280">
      <div class="container">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
              <h2 class="mt-0 text-white mb-30">Departments</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="vertical-tab">
              <ul class="nav nav-tabs">
                <li class="active"><a class="asdf" href="#tab16" data-toggle="tab">Normal Checkup</a></li>
                <li><a class="asdf" href="#tab17" data-toggle="tab">Oral Surgery</a></li>
                <li><a class="asdf" href="#tab18" data-toggle="tab">Dental Filling</a></li>
                <li><a class="asdf" href="#tab19" data-toggle="tab">Sealants</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-9 col-md-9 sm-text-center">
            <div class="tab-content bg-white">
              <div class="tab-pane fade in active" id="tab16">
                <div class="row">
                  <div class="col-sm-4 col-md-4">
                    <div class="thumb">
                      <img class="img-fullwidth" src="http://placehold.it/263x265" alt="">
                    </div>
                    <div>
                      <h4 class="mb-5">Gum Disease</h4>
                      <p class="mb-0">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, architecto quia sit.</p>
                      <a class="btn btn-theme-colored border-1px mt-10 text-white-f1 mb-xs-20" href="page-department-details.html">Read more</a>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4"> 
                    <img class="img-fullwidth" src="http://placehold.it/263x265" alt="">
                    <h4 class="mb-5">Tooth Decay</h4>
                    <p class="mb-0">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, architecto quia sit.</p>
                    <a class="btn btn-theme-colored border-1px mt-10 text-white-f1 mb-xs-20" href="page-department-details.html">Read more</a>
                  </div>
                  <div class="col-sm-4 col-md-4"> 
                    <img class="img-fullwidth" src="http://placehold.it/263x265" alt="">
                    <h4 class="mb-5">Root Canal</h4>
                    <p class="mb-0">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, architecto quia sit.</p>
                    <a class="btn btn-theme-colored border-1px mt-10 text-white-f1 mb-xs-5" href="page-department-details.html">Read more</a>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab17">
                <div class="row">
                  <div class="col-sm-4 col-md-4"> 
                    <img class="img-fullwidth" src="http://placehold.it/263x265" alt="">
                    <h4 class="mb-5">Dental Surgery</h4>
                    <p class="mb-0">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, architecto quia sit.</p>
                    <a class="btn btn-theme-colored border-1px mt-10 text-white-f1 mb-xs-20" href="page-department-details.html">Read more</a>
                  </div>
                  <div class="col-sm-4 col-md-4">
                   <img class="img-fullwidth" src="http://placehold.it/263x265" alt="">
                    <h4 class="mb-5">Cosmetic Surgery</h4>
                    <p class="mb-0">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, architecto quia sit.</p>
                    <a class="btn btn-theme-colored border-1px mt-10 text-white-f1 mb-xs-20" href="page-department-details.html">Read more</a>
                  </div>
                  <div class="col-sm-4 col-md-4">
                   <img class="img-fullwidth" src="http://placehold.it/263x265" alt="">
                    <h4 class="mb-5">Removal Teeth</h4>
                    <p class="mb-0">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, architecto quia sit.</p>
                    <a class="btn btn-theme-colored border-1px mt-10 text-white-f1 mb-xs-5" href="page-department-details.html">Read more</a>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab18">
                <div class="row">
                  <div class="col-sm-6 col-md-6"> 
                    <img class="img-fullwidth" src="http://placehold.it/400x360" alt="">
                    <h4 class="mb-5">Tooth-Colored</h4>
                    <p class="mb-0">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur ut quo nulla.</p>
                    <a class="btn btn-theme-colored border-1px mt-10 text-white-f1 mb-xs-20" href="page-department-details.html">Read more</a>
                  </div>
                  <div class="col-sm-6 col-md-6"> 
                    <img class="img-fullwidth" src="http://placehold.it/400x360" alt="">
                    <h4 class="mb-5">Tooth Filling</h4>
                    <p class="mb-0">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur ut quo nulla.</p>
                    <a class="btn btn-theme-colored border-1px mt-10 text-white-f1 mb-xs-5" href="page-department-details.html">Read more</a>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab19">
                <div class="row">
                  <div class="col-sm-4 col-md-4"> 
                    <img class="img-fullwidth" src="http://placehold.it/263x265" alt="">
                    <h4 class="mb-5">Dental Onlays</h4>
                    <p class="mb-0">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, architecto quia sit.</p>
                    <a class="btn btn-theme-colored border-1px mt-10 text-white-f1 mb-xs-20" href="page-department-details.html">Read more</a>
                  </div>
                  <div class="col-sm-4 col-md-4">
                   <img class="img-fullwidth" src="http://placehold.it/263x265" alt="">
                    <h4 class="mb-5">Dental Inlays</h4>
                    <p class="mb-0">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, architecto quia sit.</p>
                    <a class="btn btn-theme-colored border-1px mt-10 text-white-f1 mb-xs-20" href="page-department-details.html">Read more</a>
                  </div>
                  <div class="col-sm-4 col-md-4">
                   <img class="img-fullwidth" src="http://placehold.it/263x265" alt="">
                    <h4 class="mb-5">Amalgam</h4>
                    <p class="mb-0">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, architecto quia sit.</p>
                    <a class="btn btn-theme-colored border-1px mt-10 text-white-f1 mb-xs-5" href="page-department-details.html">Read more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: team -->
    <section id="team">
      <div class="container pb-30 pb-sm-0">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
              <h2 class="text-uppercase title">Our <span class="text-black-111"> Dentists</span></h2>
              <p class="text-uppercase letter-space-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Acque quidem eaque, amet doloribus, error inventore, quisquam totam magni cumque.</p>
            </div>
          </div>
        </div>
        <div class="section-content text-center">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 pb-sm-30 mb-30">
              <div class="team-member maxwidth400 bg-white">
                <div class="thumb"><img alt="" src="http://placehold.it/325x325" class="img-fullwidth"></div>
                <div class="info">
                  <h4 class="name"><a href="page-doctors-details.html">Dr. Jessica Tailor</a></h4>
                  <h5 class="occupation text-gray">Dental Implant Surgeon</h5>
                  <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-10 mb-10">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 pb-sm-30 mb-30">
              <div class="team-member maxwidth400 bg-white">
                <div class="thumb"><img alt="" src="http://placehold.it/325x325" class="img-fullwidth"></div>
                <div class="info">
                  <h4 class="name"><a href="page-doctors-details.html">Dr. Brian Adam</a></h4>
                  <h5 class="occupation text-gray">Cosmetic Dental Surgeon</h5>
                  <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-10 mb-10">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 pb-sm-30 mb-30">
              <div class="team-member maxwidth400 bg-white">
                <div class="thumb"><img alt="" src="http://placehold.it/325x325" class="img-fullwidth"></div>
                <div class="info">
                  <h4 class="name"><a href="page-doctors-details.html">Dr. Linda Feldman</a></h4>
                  <h5 class="occupation text-gray">Root Canals Dentist</h5>
                  <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-10 mb-10">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 pb-sm-30 mb-30">
              <div class="team-member maxwidth400 bg-white">
                <div class="thumb"><img alt="" src="http://placehold.it/325x325" class="img-fullwidth"></div>
                <div class="info">
                  <h4 class="name"><a href="page-doctors-details.html">Dr. Nicholas Fleming</a></h4>
                  <h5 class="occupation text-gray">Restorative Dentist</h5>
                  <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-10 mb-10">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="divider parallax layer-overlay overlay-dark-5" data-bg-img="http://placehold.it/1920x1280">
      <div class="container pt-0 pb-0">
        <div class="section-content">
          <div class="row">
            <div class="col-md-7 sm-height-auto">
              <div class="p-50 p-sm-30 pt-sm-40 bg-deep-transparent">
                <h3 class="title mt-0 line-bottom line-bg-white line-height-1 text-black-222 mb-30">Why People<span class="text-theme-colored"> Choose Us</span></h3>
                <div class="items mb-30">
                  <div class="icon-box p-0">
                    <a href="#" class="icon mb-0 mr-0 pull-left">
                      <i class="flaticon-dental-tooth text-theme-colored font-50"></i>
                    </a>
                    <div class="ml-80">
                      <h4 class="icon-box-title">Excellent Services</h4>
                      <p class="text-black-333">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dignissimos atque voluptas pariatur voluptatem, facilis? Cum veritatis, nemo minima deserunt molestias <a class="font-13" href="page-fundraise.html">Read more...</a></p>
                    </div>
                  </div>
                </div>
                <div class="items mb-30">
                  <div class="icon-box p-0">
                    <a href="#" class="icon mb-0 mr-0 pull-left">
                      <i class="flaticon-dental-teeth-protection text-theme-colored font-50"></i>
                    </a>
                    <div class="ml-80">
                      <h4 class="icon-box-title">Guaranteed Work</h4>
                      <p class="text-black-333">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dignissimos atque voluptas pariatur voluptatem, facilis? Cum veritatis, nemo minima deserunt molestias <a class="font-13" href="page-campaign.html">Read more...</a></p>
                    </div>
                  </div>
                </div>
                <div class="items mb-30">
                  <div class="icon-box p-0">
                    <a href="#" class="icon mb-0 mr-0 pull-left">
                      <i class="flaticon-dental-cutting-rounger text-theme-colored font-50"></i>
                    </a>
                    <div class="ml-80">
                      <h4 class="icon-box-title">Available Dentist</h4>
                      <p class="text-black-333">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dignissimos atque voluptas pariatur voluptatem, facilis? Cum veritatis, nemo minima deserunt molestias <a class="font-13" href="page-our-impact.html">Read more...</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Pricing -->
    <section id="pricing">
      <div class="container pb-30 pb-sm-10">
        <div class="section-title text-center">
          <div class="row">
            <div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
              <h2 class="text-uppercase title">Our <span class="text-black-111"> Pricing</span></h2>
              <p class="text-uppercase letter-space-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Acque quidem eaque, amet doloribus, error inventore, quisquam totam magni cumque.</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-sm-30">
              <div class="pricing-table text-center maxwidth400" data-bg-img="images/pattern/p6.png">
                <img src="http://placehold.it/350x180" alt="">
                <h3 class="package-type">Checkup</h3>
                <h2 class="price text-theme-colored m-10 font-weight-300 font-48"><span class="font-40">$</span>35 <span class="font-16 text-black">/month</span></h2>
                <ul class="list table-list text-left flip check-circle pt-10 pb-20 pr-20">
                  <li>Free Consultation</li>
                  <li>Fitness Assessment</li>
                  <li>24/7 Service</li>
                  <li>Treatment Plan</li>
                </ul>
                <a class="btn btn-lg btn-theme-colored text-uppercase btn-block pt-20 pb-20 btn-flat" href="#">Signup</a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-sm-30">
              <div class="pricing-table text-center maxwidth400" data-bg-img="images/pattern/p6.png">
                <img src="http://placehold.it/350x180" alt="">
                <h3 class="package-type">Whitening</h3>
                <h2 class="price text-theme-colored m-10 font-weight-300 font-48"><span class="font-40">$</span>70 <span class="font-16 text-black">/month</span></h2>
                <ul class="list table-list text-left flip check-circle pt-10 pb-20 pr-20">
                  <li>Free Consultation</li>
                  <li>Fitness Assessment</li>
                  <li>24/7 Service</li>
                  <li>Treatment Plan</li>
                </ul>
                <a class="btn btn-lg btn-theme-colored text-uppercase btn-block pt-20 pb-20 btn-flat" href="#">Signup</a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-sm-30">
              <div class="pricing-table text-center maxwidth400" data-bg-img="images/pattern/p6.png">
                <img src="http://placehold.it/350x180" alt="">
                <h3 class="package-type">Surgery</h3>
                <h2 class="price text-theme-colored m-10 font-weight-300 font-48"><span class="font-40">$</span>99 <span class="font-16 text-black">/month</span></h2>
                <ul class="list table-list text-left flip check-circle pt-10 pb-20 pr-20">
                  <li>Free Consultation</li>
                  <li>Fitness Assessment</li>
                  <li>24/7 Service</li>
                  <li>Treatment Plan</li>
                </ul>
                <a class="btn btn-lg btn-theme-colored text-uppercase btn-block pt-20 pb-20 btn-flat" href="#">Signup</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="divider parallax layer-overlay overlay-blue" data-bg-img="http://placehold.it/1920x1280">
      <div class="container pt-0 pb-0">
        <div class="pt-40 pb-40 pb-sm-0">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
              <div class="funfact text-center"> 
                <a href="#"> <i class="fa fa-calendar text-white font-36"></i></a>
                <h5 class="animate-number text-white-f1 font-36" data-value="8" data-animation-duration="2500">0</h5>
                <h6 class="title text-white-f3 font-16">Years of Experience</h6>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
              <div class="funfact text-center"> 
                <a href="#"> <i class="fa fa-user text-white font-36"></i></a>
                <h5 class="animate-number text-white-f1 font-36" data-value="1921" data-animation-duration="2500">0</h5>
                <h6 class="title text-white-f3 font-16">Patients treated per year</h6>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
              <div class="funfact text-center"> 
                <a href="#"> <i class="fa fa-globe text-white font-36"></i></a>
                <h5 class="animate-number text-white-f1 font-36" data-value="25" data-animation-duration="2500">0</h5>
                <h6 class="title text-white-f3 font-16">Countries Worldwide</h6>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
              <div class="funfact text-center"> 
                <a href="#"> <i class="fa fa-trophy text-white font-36"></i></a>
                <h5 class="animate-number text-white-f1 font-36" data-value="12" data-animation-duration="2500">0</h5>
                <h6 class="title text-white-f3 font-16">Awards</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Gallery -->
    <section>
      <div class="container-fluid pb-0">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
              <h2 class="text-uppercase title">Our <span class="text-black-111"> Gallery</span></h2>
              <p class="text-uppercase letter-space-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Acque quidem eaque, amet doloribus, error inventore, quisquam totam magni cumque.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- Works Filter -->
            <div class="portfolio-filter font-alt align-center">
              <a href="#" class="active" data-filter="*">All</a>
              <a href="#dental" data-filter=".dental">Dental</a>
              <a href="#surgery" data-filter=".surgery">Surgery</a>
              <a href="#laboratory" data-filter=".laboratory">Laboratory</a>
            </div>
            <!-- End Works Filter -->
            
            <!-- Portfolio Gallery Grid -->
            <div id="grid" class="gallery-isotope grid-4 gutter clearfix">
              <!-- Portfolio Item Start -->
              <div class="gallery-item dental">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://placehold.it/383x264" alt="project">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a data-lightbox="image" href="http://placehold.it/383x264"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item photography">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://placehold.it/383x264" alt="project">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a data-lightbox="image" href="http://placehold.it/383x264"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item photography">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://placehold.it/383x264" alt="project">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a data-lightbox="image" href="http://placehold.it/383x264"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item photography">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://placehold.it/383x264" alt="project">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a data-lightbox="image" href="http://placehold.it/383x264"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item surgery">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://placehold.it/383x264" alt="project">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a data-lightbox="image" href="http://placehold.it/383x264"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item photography">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://placehold.it/383x264" alt="project">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a data-lightbox="image" href="http://placehold.it/383x264"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item laboratory">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://placehold.it/383x264" alt="project">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a data-lightbox="image" href="http://placehold.it/383x264"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item photography">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://placehold.it/383x264" alt="project">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a data-lightbox="image" href="http://placehold.it/383x264"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item dental">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://placehold.it/383x264" alt="project">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a data-lightbox="image" href="http://placehold.it/383x264"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item photography">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://placehold.it/383x264" alt="project">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a data-lightbox="image" href="http://placehold.it/383x264"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item laboratory">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://placehold.it/383x264" alt="project">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a data-lightbox="image" href="http://placehold.it/383x264"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item surgery">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://placehold.it/383x264" alt="project">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a data-lightbox="image" href="http://placehold.it/383x264"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

            </div>
            <!-- End Portfolio Gallery Grid -->
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Testimonials -->
    <section class="divider parallax layer-overlay overlay-dark-8" data-bg-img="http://placehold.it/1920x1280"  data-parallax-ratio="0.7">
      <div class="container pb-50">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <div class="testimonial style2 owl-carousel-1col" data-dots="true">
              <div class="item">
                <div class="testimonial-wrapper text-center">
                  <div class="thumb"><img class="img-circle border-2px" alt="" src="http://placehold.it/75x75"></div>
                  <div class="content p-10">
                    <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel esse quibusdam nihil a necessitatibus natus, voluptas fugiat officiis ipsa earum unde sit consequatur. Maxime harum ab pariatur obcaecati ut eos.</p>
                    <i class="fa fa-quote-right font-36 mt-10 text-white-f3"></i>
                    <h5 class="author text-theme-colored mb-0">Catherine Grace</h5>
                    <h6 class="title text-white-f2 mt-0 mb-5">Designer</h6>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-wrapper text-center">
                  <div class="thumb"><img class="img-circle border-2px" alt="" src="http://placehold.it/75x75"></div>
                  <div class="content p-10">
                    <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel esse quibusdam nihil a necessitatibus natus, voluptas fugiat officiis ipsa earum unde sit consequatur. Maxime harum ab pariatur obcaecati ut eos.</p>
                    <i class="fa fa-quote-right font-36 mt-10  text-white-f3"></i>
                    <h5 class="author text-theme-colored mb-0">Catherine Grace</h5>
                    <h6 class="title text-white-f2 mt-0 mb-5">Designer</h6>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-wrapper text-center">
                  <div class="thumb"><img class="img-circle border-2px" alt="" src="http://placehold.it/75x75"></div>
                  <div class="content p-10">
                    <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel esse quibusdam nihil a necessitatibus natus, voluptas fugiat officiis ipsa earum unde sit consequatur. Maxime harum ab pariatur obcaecati ut eos.</p>
                    <i class="fa fa-quote-right font-36 mt-10 text-white-f3"></i>
                    <h5 class="author text-theme-colored mb-0">Catherine Grace</h5>
                    <h6 class="title text-white-f2 mt-0 mb-5">Designer</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Section: Blog -->
    <section>
      <div class="container pb-40 pb-sm-50">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
              <h2 class="text-uppercase title">Latest <span class="text-black-111"> News</span></h2>
              <p class="text-uppercase letter-space-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Acque quidem eaque, amet doloribus, error inventore, quisquam totam magni cumque.</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-4">
              <article class="article-edit">
                <ul class="post-info">
                  <li class="like"><a href="#"><i class="fa fa-heart-o mr-5 text-theme-colored"></i>895 <br> Likes</a></li>
                  <li class="date">23</li>
                  <li class="month">JAN</li>
                  <li class="comments"><a href="#">
                    <i class="icon fa fa-commenting-o mr-5 text-theme-colored"></i>
                      20
                      </a>
                  </li>
                </ul>
                <img class="img-fullwidth mb-20" src="http://placehold.it/265x233" alt="...">
                <div class="caption">
                  <h4 class="letter-space-1 mt-0">Riding on <span class="text-theme-colored">Trainer</span></h4>
                  <p>Lorem ipsum dolor adipisicing amet, consectetur. Aspernatur incidihil consectetur quo officia.</p>
                  <p><a href="#" class="btn btn-theme-colored btn-flat mt-10 mb-10 btn-sm" role="button">Read more</a></p>
                </div>
              </article>
            </div>
            <div class="col-md-4">
              <article class="article-edit">
                <ul class="post-info">
                  <li class="like"><a href="#"><i class="fa fa-heart-o mr-5 text-theme-colored"></i>895 <br> Likes</a></li>
                  <li class="date">23</li>
                  <li class="month">JAN</li>
                  <li class="comments"><a href="#">
                    <i class="icon fa fa-commenting-o mr-5 text-theme-colored"></i>
                      20
                      </a>
                  </li>
                </ul>
                <img class="img-fullwidth mb-20" src="http://placehold.it/265x233" alt="...">
                <div class="caption">
                  <h4 class="letter-space-1 mt-0">Riding on <span class="text-theme-colored">Trainer</span></h4>
                  <p>Lorem ipsum dolor adipisicing amet, consectetur. Aspernatur incidihil consectetur quo officia.</p>
                  <p><a href="#" class="btn btn-theme-colored btn-flat mt-10 mb-10 btn-sm" role="button">Read more</a></p>
                </div>
              </article>
            </div>
            <div class="col-md-4">
              <article class="article-edit">
                <ul class="post-info">
                  <li class="like"><a href="#"><i class="fa fa-heart-o mr-5 text-theme-colored"></i>895 <br>Likes</a></li>
                  <li class="date">23</li>
                  <li class="month">JAN</li>
                  <li class="comments"><a href="#">
                    <i class="icon fa fa-commenting-o mr-5 text-theme-colored"></i>
                      20
                      </a>
                  </li>
                </ul>
                <img class="img-fullwidth mb-20" src="http://placehold.it/265x233" alt="...">
                <div class="caption">
                  <h4 class="letter-space-1 mt-0">Riding on <span class="text-theme-colored">Trainer</span></h4>
                  <p>Lorem ipsum dolor adipisicing amet, consectetur. Aspernatur incidihil consectetur quo officia.</p>
                  <p class="mb-sm-0"><a href="#" class="btn btn-theme-colored btn-flat mt-10 mb-10 btn-sm" role="button">Read more</a></p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->
 {% endblock %}